* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: roboto;
}

html {
  height: 100%;
  width: 100%;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header > p {
  font-size: 50px;
  font-weight: bold;
  color: rgb(32, 32, 32);
}

body {
  height: 100%;
  width: 100%;
}
body > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
}
body > section > p {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}
body > section > div {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 50, 0.3);
}
body > section > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
body > section > div > div > button {
  height: 50px;
  width: 50%;
  background-color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
body > section > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}